
@media (max-width:800px){
    /* index.html  */
    
    /* icons  */

    .icons a {
        font-size: 20px;
        color:#ffffff;
        border:3px solid #027005;
        background-color: #00a108;
        padding: 10px 14px;
        border-radius: 9999px;
    }

    .icons  ul li{
        display: inline-block;
        list-style: none;
        padding: 50px 10px;
    }

    /* geral  */
    #geral h1{
        font-size: 30px;
    }

    /* ideias */

    #ideias{
        background-color: #00a108;
        text-align: center;
        align-items: center;
        padding: 20px;
        margin-top: 8%;
        border-bottom: 8px solid #c4c4c4;
    }

    #ideias img {
        margin-top: 40px ;
        width: 90%;
    }

    #ideias h1{
        font-size: 25px;
    }

    #ideias h2{
        font-size: 12px;
    }


    /* noticias */

    #noticia{
        padding: 0;
        margin: 0;
    }

    .news1 a,.news2 a,.news3 a,.news4 a,.news5 a{
        display: block;
        text-align: center;
    }

    .legenda h2{
        font-size: 15px;
        padding: 0;
    }

    .legenda p{
        font-size: 10px;
    }

    .legenda .infos{
        font-size: 8px;
    }
    
    .noticia-img img {
        width: 90%;
        border-radius: 20px;
        cursor: pointer;
    }
    
    /* duvidas */
    
    #duvidas{
        text-align: center;
        padding: 0;
    }

    #duvidas .titulo-duvida{
        padding: 50px;
        font-size: 30px;
        font-weight: 700;
        color: black;
    }

    #duvidas h2,#duvidas h3,#duvidas h1:not(.titulo-duvida){
        color: #00a108;
        padding: 0 20px;
    }

    .lixos-leg{
        padding: 0 20px;
    }

    .rs-leg{
        padding: 0 20px;
    }
    
    .empresas-leg{
        padding: 0 20px;
    }

    /* news.html  */
        .noticia{
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
        }
    
        .header-noticia{
            text-align: center;
            align-items: center;
            padding: 20px;
            margin: 0;
        }
    
        .header-noticia h1{
            font-size: 20px ;
        }
    
        .header-noticia .p1{
            font-size: 12px;
            padding: 20px 0;
        }
        
        .header-noticia p{
            font-size: 14px;
            padding-bottom: 20px;
        }
        
        
        .header-noticia a h6{
            font-size: 15px;
            padding-bottom: 15px;
        }
    
        .img-noticia img{
            width: 90%;
        }
    
        .img-noticia h6{
            text-align: center;
            padding: 0 22px;
            font-size: 10px;
            padding-bottom: 30px;
        }
    
        .corpo-noticia p:not(.p1){
            padding:0 30px ;
            font-size: 15px;
        }
    
    
        .corpo-noticia h4 {
            text-align: center;
            align-items: center;
            padding: 18px;
            color: #027005;
        }
    
        .pics h2, .pics .p2{
            text-align: center;
            align-items: center;
            padding: 0;
            margin: 0;
        }
    
        .left-footer h2 {
            font-size: 20px ;
        }
    
        .left-footer nav ul li i{
            font-size: 20px;
        }
    
        .right-footer h2 {
            font-size: 20px ;
        }
    
        .right-footer h4{
            font-size: 10px;
            text-align: center;
        }}