/* geral */

*{
    margin: 0;
    padding: 0;
    cursor: default;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f0;
}

::-webkit-scrollbar{
    background-color: #00a108;
    width: 20px;
}

::-webkit-scrollbar-thumb{
    background-color: #027005;
    width: 10px;
    border-radius: 9999px;
}

/* header */

header {
    background-color: #00a108;
}



.menu{
    justify-content:center;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 10px solid #c4c4c4;
}

.menu img{
    width:50%;
    padding: 0;
    cursor: pointer;
}

.menu a i{
    font-size: 50px;
    color: #ffffff;
}

.menu a i:hover{
    color: #027005;
    transition: all 0.4s;
    cursor: pointer;
}

/* icones */

.icons a {
    font-size: 30px;
    color:#ffffff;
    border:3px solid #027005;
    background-color: #00a108;
    padding: 13px 20px;
    border-radius: 9999px;
}

.icons a:hover{
    color: #027005;
    transition: all 0.4s;
}

.icons ul li a i:hover{
    cursor: pointer;
}

.icons ul li a:hover{
    cursor: pointer;
}

.icons  ul li{
    display: inline-block;
    list-style: none;
    padding: 70px 20px;
}

.icons{
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

/* geral */

#geral {
    text-align: center;
    padding: 0 40px;
}

#geral h2 {
    color:#00a108;
}

/* ideias */

.cols {
    display: grid;
    flex-direction: column;
}

.cols-3{
    grid-template-columns: repeat(3,1fr);
}

#ideias{
    background-color: #00a108;
    text-align: center;
    align-items: center;
    padding: 40px;
    margin-top: 8%;
    border-bottom: 8px solid #c4c4c4;
}

#ideias img {
    margin-top: 40px ;
    width: 80%;
}

#ideias h2, #ideias h1 {
    color: #ffffff;
}

#ideias a{
    text-decoration: none;
}

#ideias h2:hover{
    color: #027005;
    cursor: pointer;
    transition: all 0.4s;
}

#ideias img:hover{
    cursor: pointer;
    transform: translateY(-5px);
    transition: all 0.8s;
}

/* noticias */

#noticias h1{
    text-align: center;
    margin-top:5%;
}

.subtitle-underline{
    width: 90%;
    height: 2px;
    background: #00a108;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}

.news1 a{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}

.news2 a{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}

.news3 a{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}

.news4 a{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}

.news5 a{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}

a .legenda{
    height: 100%;
    flex-basis: 50%;
    color: #027005;
    cursor: pointer;
}

#noticias a{
    text-decoration: none;
}

.noticia-img{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noticia-img img {
    width: 60%;
    border-radius: 20px;
    cursor: pointer;
}

.legenda .infos {
    font-size: 0.8rem;
}

.legenda h2, .legenda p {
    cursor: pointer;
}

.legenda h2:hover{
    color: #03d60d;
    transition: all 0.8s;
}

.legenda p:hover{
    color: #03d60d;
    transition: all 0.8s;
}

/* duvidas */

#duvidas{
    text-align: center;
    padding:0 40px;
}

#duvidas h2,#duvidas h3,#duvidas h1{
    color: #00a108;
}

.rs-leg{
    padding: 0 70px;
}

.empresas-leg{
    padding: 0 110px;
}

#duvidas span {
    font-weight: 600;
}

.lixos-icons,.rs-icons,.empresas-icons{
    font-size: 80px;
}

.rs-icons{
    color: #00a1a1 ;
}

.empresas-icons{
    color: #0099ff;
}

#duvidas h1{
    padding: 50px;
    font-size: 30px;
    font-weight: 700;
    color: black;
}

/* footer  */

footer{
    border-top: 4px solid #c4c4c4;
    margin-top: 70px;
    padding: 25px;
    background-color: #00a108;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.left-footer nav ul li{
    list-style: none;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
}

.left-footer i{
    color: #ffffff;
    font-size: 30px;
    margin:0 9px;
    
}

footer h2{
    font-size: 40px;
    text-align: center;
}

footer h4{
    font-size: 15px;
}

.left-footer i:hover{
    color: #027005;
    transition: all 0.6s;
    cursor: pointer;
}

.right-footer h4{
    padding: 5px;
}

/* news  */

.noticia{
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 70px ;
}

.header-noticia{
    padding: 0 180px;
    text-align: left;
}

.header-noticia h1{
    font-size: 40px;
}

.header-noticia .p1{
    font-size: 18px;
    padding: 20px 0;
}

.header-noticia p{
    font-size: 14px;
    padding-bottom: 20px;
}

.header-noticia a{
    text-decoration: none;
    color: #027005;
}

.header-noticia a h6{
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.img-noticia{
    text-align: center;
    align-items: center;
}

.img-noticia img{
    width: 80%;
    border-radius: 10px;
}

.img-noticia .top{
    width: 70%;
    border-radius: 10px;
    padding-top: 50px;
}


.img-noticia h6{
    text-align: center;
    padding: 0 115px;
    font-size: 12px;
    padding-bottom: 70px;
}


.corpo-noticia p:not(.p1){
    padding:0 140px ;
    font-size: 15px;
}

.corpo-noticia p a{
    text-decoration: none;
    color: #00a108;
    cursor: pointer;
}

.corpo-noticia span{
    font-weight: 600;
}

p .marca-texto{
    background-color: rgba(0, 161, 8, 28%);
    font-weight: 500;
}

.corpo-noticia p a:hover{
    color: #027005;
}

.corpo-noticia h2{
    text-align: center;
    padding: 60px 20px 20px 20px;
}

.corpo-noticia .top{
    text-align: center;
    padding: 30px 20px 20px 20px;
}

.box-citation{
    padding: 30px 0;
    text-align: center;
}

.box-citation h4{
    padding: 20px 210px;
    color: #006d05;
}

.subtitle-underline-news{
    width: 50%;
    height: 2px;
    background: #00a108;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}

.subtitle-underline-news2{
    width: 30%;
    height: 2px;
    background: #027005;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}

.pics {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.pics h2,.pics .p2{
    text-align: center;

}

.pics img{
    width: 60%;
    border-radius: 20px;
}

.pics input {
    color: #ffffff;
    text-align: center;
    display: inline-block;
    padding: 8px 16px;
    border: 4px solid #027005;
    border-radius: 999999px;
    background-color: #00a108;
    cursor: pointer;
    margin: 4px;
}

.pics input:hover{
    background-color: #027005; 
    color: #ffffff;
    transition: all 0.4s;
}
